@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/ofont.ru_Myriad Pro.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1A1A1A;
  color: white;
  font-family: 'MyriadPro-Regular', sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 125px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo {
  width: 250px;
  margin-bottom: 80px;
}

.contact-info p {
  margin: 2px 0;
  font-size: 23px;
}

.copyright {
  margin-top: 10px;
  font-size: 20px;
}

.right {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.links {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-bottom: 120px;
  font-size: 25px;
}

.links a {
  color: white;
  text-decoration: none;
  font-family: 'Gilroy-ExtraBold', sans-serif;
  margin-left: 10px;
}

.social-media {
  display: flex;
  gap: 15px;
  margin-bottom: -40px;
}

.social-icon {
  height: 25px; /* Set a uniform height */
  width: auto;
  margin-left: 10px; /* Add spacing between icons */
  vertical-align: middle; 
}
.timemob {
  display: none;
}
.social-icon:hover {
  opacity: 0.8;
}

.timefoot {
  margin-bottom: -30px;
  font-size: 20px;
}

.footer a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Устанавливает цвет текста ссылки таким же, как у родительского элемента */
}
.footer-links{
display: none;
}
.net{
  display: none;
}

@media (max-width: 768px) {
.net{
  display: block; 
}
.contact-info {
  display: flex;
  flex-direction: row;
  position: relative;
}

/* Стили для блока с ссылками */
.footer-links {
  font-family: 'Gilroy-ExtraBold';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 5px;
  margin-left: 120px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  margin-bottom: 10px; /* Отступ между ссылками */
}

.footer-links a:hover {
  text-decoration: underline;
}
.timemob {
  display: flex;
  font-size: 15px!important;
}
.logo {
  width: 150px;
  margin-bottom: 20px;
}
.contact-info p {
  font-size: 17px;
}
.copyright {
  font-size: 15px;
}
.links {
  font-size: 17px;
}
.timefoot {
  display: none;
}
.right {
  display: none;
}
.opop {
  display: flex;
  flex-direction: row; 
}
.social-media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
  flex-direction: row-reverse; /* Иконки справа от текста */
  margin-right: -70px;
}
.social-icon {
  margin-left: 0; /* Убираем левый отступ для мобильной версии */
  margin-right: 10px; /* Добавляем правый отступ */
}
}
